<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Create user</title>
</head>
<body>
<div class="modal-body">
    <form th:action="#" th:action="@{/admin/user-create}" th:object="${user}" th:method="post">
        <div class="form-group text-center">

            <div>
                <label for="name">First name</label>
                <input type="text" id="name" name="name">
            </div>
            <div>
                <label for="lastname">Last name</label>
                <input type="text" id="lastname" name="lastname">
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" id="age" name="age">
            </div>
            <div>
                <label for="mail">Email</label>
                <input type="text" id="mail" name="mail">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="text" id="password" name="password">
            </div>
            <div>
                <label for="role">Role</label>
                <select multiple class="form-control" id="role" name="role">
                    <option value="admin">ADMIN</option>
                    <option value="user">USER</option>
                </select>
            </div>
        </div>
        <button type="submit">Add user</button>
    </form>
</div>

<a th:href="'/admin/users'" >Admin page</a><br>
<a th:href="'/logout'" >Logout</a><br>
</body>
</html>